
.tiling_background .page__hero {
  background-image: url("https://64.media.tumblr.com/b478d9cdcfb254f411e8446c54e2e406/ca02e32139eb44e7-a6/s100x200/c009b960e849af36b5a824009bb8e5c0ac949557.png");
  background-repeat: repeat;
  background-size: auto; /* Ensures tiling, not scaling */
  background-position: top left;
}
